// Fonts
$regular-stack: KumbhSans-Regular, Helvetica, Arial, sans-serif;
$bold-stack: KumbhSans-Bold, Helvetica, Arial, sans-serif;

// Colors
$primary-text-blue: hsl(238, 29%, 16%);
$primary-text-red: hsl(14, 88%, 65%);
$neutral-text-blue: hsl(240, 6%, 50%);
$neutral-text-dark-blue: hsl(237, 12%, 33%);

$divider-blue: hsl(240, 5%, 91%);

// Media Queries
$mobile: 375px;
$desktop: 1440px;
